@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.body {
  background: #C9D6FF; 
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  background: #1A2980; 
  background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  
  background: linear-gradient(to right, #26D0CE, #1A2980);
}

.list{
  background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #dfcd9a, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #edd697, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}